<header class="header">
	<div class="container">
	<link rel="stylesheet" type="text/css" href="./header.scss">
		<h2>header</h2>
		<p>lorem ipsum</p>
		<p class='header__paragraph-temp>What a fuck why doesn't work emmet here!</p>
	</div>
</header>