<div class="g-news">
	<div class="g-news__header">
		<h2 class="g-news__title2">
			Новости
		</h2>
		{% include '@blocks/g-btn-arrows/g-btn-arrows.twig' %}
	</div>
	<div class="g-news__body">
		<article class="g-news__article">
			<div class="g-news__img">
				<img src="./img/news1.jpg" alt="Logo">
			</div>
			<div class="g-news__text-content">
				<p class="g-news__data">
					16 июня 2020
				</p>
				<h4 class="g-news__title4">
					Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</h4>
				<p class="g-news__descr">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>

				<a href="#" class="g-news__link-body">Читать
				</a>

			</div>

		</article>
		<article class="g-news__article">
			<div class="g-news__img">
				<img src="./img/news2.jpg" alt="Logo">
			</div>
			<div class="g-news__text-content">
				<p class="g-news__data">
					16 июня 2020
				</p>
				<h4 class="g-news__title4">
					Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</h4>
				<p class="g-news__descr">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>

				<a href="#" class="g-news__link-body">Читать
				</a>

			</div>

		</article>
		<article class="g-news__article">
			<div class="g-news__img">
				<img src="./img/news3.jpg" alt="Logo">
			</div>
			<div class="g-news__text-content">
				<p class="g-news__data">
					16 июня 2020
				</p>
				<h4 class="g-news__title4">
					Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</h4>
				<p class="g-news__descr">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>

				<a href="#" class="g-news__link-body">Читать
				</a>

			</div>

		</article>

	</div>
	<div class="g-news__bottom">
		<button class="g-news__btn-bottom">Показать все новости
		</button>
	</div>
</div>
