<footer class='footer'>
	<div class="footer__header">
		<div class="footer__container container">
			<div class="footer__header-wrap">
				<div class="footer__header-logo">
					{% include '@assets/svg/statut-logo.svg' %}
				</div>
				<form action="#" class="footer__header-form">
					<input class="footer__header-input" placeholder='Введите свой Email и получите скидку'>

					<button class="footer__header-btn">
						{% include '@assets/svg/paper-jet.svg' %}
					</button>
				</form>
			</div>
			<div class="footer__header-wrap">
				<nav class="footer__header-nav">
					<ul class="footer__header-list">
						<li class="footer__header-item">
							<a href="" class="footer__header-link">
								{% include '@assets/svg/Facebook-dark.svg' %}
							</a>
						</li>
						<li class="footer__header-item">
							<a href="" class="footer__header-link">
								{% include '@assets/svg/Instagram-dark.svg' %}
							</a>
						</li>
						<li class="footer__header-item">
							<a href="" class="footer__header-link">
								{% include '@assets/svg/Twitter_dark.svg' %}
							</a>
						</li>

					</ul>

				</nav>

			</div>


		</div>
	</div>
	<div class="container">
		<div class="footer__body-desk   ">
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Покупателям
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Наша&nbsp;почта
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Оплата&nbsp;и&nbsp;доставка
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Вопросы&nbsp;и&nbsp;ответы
						</a>
					</li>
				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Издательство
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							О&nbsp;компании
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Авторам
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Вакансии
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Контакты
						</a>
					</li>
				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Книги
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Все&nbsp;категории
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Бестселлеры
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Новинки
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Скидки&nbsp;и&nbsp;акции
						</a>
					</li>
				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Прайс-лист
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="" class="footer__body-desk-link">
							Скачать прайс-лист
							<span class="footer__body-desk-link-span">
								PDF, 12 Mb
							</span>
						</a>
					</li>

				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Телефон&nbsp;и&nbsp;Email
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="mailto:market@estatut.ru" class="footer__body-desk-link">
							{% include '@assets/svg/mail.svg' %}
							market@estatut.ru
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="tel:" class="footer__body-desk-link">
							{% include '@assets/svg/phone.svg' %}

							8 (968) 660-65-50
						</a>
					</li>

				</ul>

			</div>


		</div>

		{# <div class="footer__body-tab">
			<div class="footer__body-tab-nav">
				<h3 class="footer__body-tab-title3">
				</h3>
				<ul class="footer__body-tab-list">
					<li class="footer__body-tab-item">
						<a href="#" class="footer__body-tab-link">
						
						</a>
					</li>
				</ul>
			</div>
		</div> #}

		<div class="footer__bottom">
			<div class="footer__bottom-text">
				<p class="footer__bottom-company">
					© 2020 Издательство «Статут»
				</p>
				<p class="footer__bottom-address">
					ул. Лобачевского, 92, корп. 2 119454, г. Москва
				</p>
			
			</div>
		
		 </div>

	</div>
</footer>
