<footer class='footer'>
	<div class="container">
		<h2>footer</h2>
		<p>
		Lorem ipsum <span class="tempFspan">dolor sit</span>  amet consectetur, adipisicing elit. A error omnis asperiores nemo. Repellendus, deserunt. Aliquid suscipit explicabo aut delectus eveniet facilis corrupti consequatur cumque omnis, temporibus reiciendis atque accusamus.</p>

	</div>
</footer>