<footer class="footer footer--tab ">
	<div class="footer-tab__header">
		<div class="footer-tab__container container">
			<div class="footer-tab__header-wrap">
				<div class="footer-tab__header-logo">
					{% include '@assets/svg/statut-logo.svg' %}
				</div>
				<form action="#" class="footer-tab__header-form">
					<input class="footer-tab__header-input" placeholder='Подписаться на рассылку'>

					<button class="footer-tab__header-btn">
						{% include '@assets/svg/paper-jet.svg' %}
					</button>
				</form>
			</div>
			
				
					<ul class="footer-tab__header-list">
						<li class="footer-tab__header-item">
							<a href="" class="footer-tab__header-link">
								{% include '@assets/svg/Facebook-dark.svg' %}
							</a>
						</li>
						<li class="footer-tab__header-item">
							<a href="" class="footer-tab__header-link">
								{% include '@assets/svg/Instagram-dark.svg' %}
							</a>
						</li>
						<li class="footer-tab__header-item">
							<a href="" class="footer-tab__header-link">
								{% include '@assets/svg/Twitter_dark.svg' %}
							</a>
						</li>

					</ul>				

			

		</div>
	</div>
</footer>
