<footer class='footer footer--desktop'>
	<div class="footer__header">
		<div class="footer__container container">
			<div class="footer__header-wrap">
				<div class="footer__header-logo">
					{% include '@assets/svg/statut-logo.svg' %}
				</div>
				<form action="#" class="footer__header-form">
					<input class="footer__header-input" placeholder='Введите свой Email и получите скидку'>

					<button class="footer__header-btn">
						{% include '@assets/svg/paper-jet.svg' %}
					</button>
				</form>
			</div>


			<ul class="footer__header-list">
				<li class="footer__header-item">
					<a href="#" class="footer__header-link">
						{% include '@assets/svg/Facebook-dark.svg' %}
					</a>
				</li>
				<li class="footer__header-item">
					<a href="#" class="footer__header-link">
						{% include '@assets/svg/Instagram-dark.svg' %}
					</a>
				</li>
				<li class="footer__header-item">
					<a href="#" class="footer__header-link">
						{% include '@assets/svg/Twitter_dark.svg' %}
					</a>
				</li>

			</ul>


		</div>
	</div>
	<div class="container">
		<div class="footer__body-desk   ">
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Покупателям
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Наша&nbsp;почта
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Оплата&nbsp;и&nbsp;доставка
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Вопросы&nbsp;и&nbsp;ответы
						</a>
					</li>
				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Издательство
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							О&nbsp;компании
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Авторам
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Вакансии
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Контакты
						</a>
					</li>
				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Книги
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Все&nbsp;категории
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Бестселлеры
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Новинки
						</a>
					</li>
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link">
							Скидки&nbsp;и&nbsp;акции
						</a>
					</li>
				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Прайс-лист
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item">
						<a href="#" class="footer__body-desk-link footer__body-desk-link--flex">
							{% include '@assets/svg/file.svg' %}
							<p class="footer__body-desk-link-text">
								Скачать прайс-лист
								<span class="footer__body-desk-link-span">
									PDF, 12 Mb
								</span>

							</p>

						</a>
					</li>

				</ul>

			</div>
			<div class="footer__body-desk-nav">
				<h3 class="footer__body-desk-nav-title3">
					Телефон&nbsp;и&nbsp;Email
				</h3>
				<ul class="footer__body-desk-list">
					<li class="footer__body-desk-item footer__body-desk-item--address">
						<a href="mailto:market@estatut.ru" class="footer__body-desk-link footer__body-desk-link--flex">
							{% include '@assets/svg/mail.svg' %}
							market@estatut.ru
						</a>
					</li>
					<li class="footer__body-desk-item footer__body-desk-item--address">
						<a href="tel:+79686606550" class="footer__body-desk-link footer__body-desk-link--flex">
							{% include '@assets/svg/phone.svg' %}

							8 (968) 660-65-50
						</a>
					</li>

				</ul>

			</div>


		</div>

		<div class="footer__bottom">
			<div class="footer__bottom-text">
				<p class="footer__bottom-company">
					© 2020 Издательство «Статут»
				</p>
				<p class="footer__bottom-address">
					ул. Лобачевского, 92, корп. 2 119454, г. Москва
				</p>

			</div>
			<ul class="footer__bottom-list">
				<li class="footer__bottom-item">
					<a href="#" class="footer__bottom-link">
						Политика конфиденциальности
					</a>
				</li>
				<li class="footer__bottom-item">
					<a href="#" class="footer__bottom-link">
						Договор оферты
					</a>
				</li>
			</ul>

		</div>

	</div>
</footer>

{# =================== Footer Tablet ============== #}

<footer class="footer-tab footer-tab--display ">
	<div class="footer-tab__header">
		<div class="footer-tab__block">
			<div class="footer-tab__container container">

				<ul class="footer-tab__header-list">
					<li class="footer-tab__header-item">
						<a href="#" class="footer-tab__header-link">
							{% include '@assets/svg/Instagram_white.svg' %}
						</a>
					</li>
					<li class="footer-tab__header-item">
						<a href="#" class="footer-tab__header-link">
							{% include '@assets/svg/vk.svg' %}
						</a>
					</li>
					<li class="footer-tab__header-item">
						<a href="#" class="footer-tab__header-link footer-tab__header-link--decor">
							{% include '@assets/svg/Twitter_white.svg' %}
						</a>
					</li>

				</ul>

			</div>
		</div>
		<div class="footer-tab__block">

			<div class="footer-tab__container container">

				<div class="footer-tab__header-logo">
					{% include '@assets/svg/statut-logo.svg' %}
				</div>
				<form action="#" class="footer-tab__header-form">
					<input class="footer-tab__header-input" placeholder='Подписаться на рассылку'>

					<button class="footer-tab__header-btn">
						{% include '@assets/svg/paper-jet.svg' %}
					</button>
				</form>

			</div>
		</div>


	</div>
	<div class="footer-tab__accordion">
		<div class="footer-tab__container container">
			{% include '@blocks/g-accordion/g-accordion.twig' %}
		</div>

	</div>
	<div class="footer-tab__body">
		<div class="footer-tab__body-section">
			<div class="footer-tab__container container">
				<ul class="footer-tab__list">
					<li class="footer-tab__item">
						<a href="#" class="footer-tab__link">
							Политика конфиденциальности
						</a>
					</li>
					<li class="footer-tab__item">
						<a href="#" class="footer-tab__link">
							Договор оферты
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-tab__body-section">
			<div class="footer-tab__container container">
				<ul class="footer-tab__body-list">
					<li class="footer-tab__body-item">
						<a href="tel:+79686606550" class="footer-tab__body-link">
							{% include '@assets/svg/phone.svg' %}
							8 (968) 660-65-50
							{% include '@assets/svg/notification-i.svg' %}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-tab__body-section">
			<div class="footer-tab__container container">
				<ul class="footer-tab__body-list">
					<li class="footer-tab__body-item">
						<a href="mailto:market@estatut.ru" class="footer-tab__body-link">
							{% include '@assets/svg/mail.svg' %}
							market@estatut.ru
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-tab__body-section">
			<div class="footer-tab__container container">
				<ul class="footer-tab__body-list">
					<li class="footer-tab__body-item">
						<a href="#" class="footer-tab__body-link footer-tab__body-link--letter">
							{% include '@assets/svg/location.svg' %}
							ул. Лобачевского, 92, корп. 2 119454, г. Москва
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-tab__body-section">
			<div class="footer-tab__container container">
				<p class="footer-tab__company-name">
					© 2020 Издательство «Статут»
				</p>
			</div>
		</div>
	</div>


</footer>
