<address class="g-address">
	<a class="g-address__link" href="mailto:market@estatut.ru">
	<img src="./img/header/email-icon.png" alt="мэйл" class="g-address__image" >
	market@estatut.ru</a>
	<a class="g-address__link" href="tel:+79686606550">
	<img src="./img/header/phone-icon.png" alt="телефон" class="g-address__image" >
	8 (968) 660-65-50
	<img src="./img/header/inform-icon.png" alt="информация" class="g-address__image g-address__image--margin" >
	</a>
	
</address>