<div class="g-arrivels">
	<div class="g-arrivels__header">
		<h2 class="g-arrivels__title2 _g-arrivels__title2">
			Готовятся к выходу
		</h2>
		<div class="g-arrivels__btn-wrapper">
		
		</div>
	</div>

</div>