<div class="g-arrivels">
	<div class="g-arrivels__header">
		<h2 class="g-arrivels__title2 _g-arrivels__title2">
			{{ title }}
		</h2>
		<div class="g-arrivels__btn-wrapper">
			{% include '@blocks/g-btn-arrows/g-btn-arrows.twig' %}
		</div>
	</div>

	<div class="g-arrivels__body">

		<div class="card-arrivels">
			<div class="card-arrivels__content">
				<div class="card-arrivels__image">
					<img src="./img/north-south.jpg" alt="с севера на юг">

					<p class="card-arrivels__lable-one">
						Бестселлер
					</p>
					<p class="card-arrivels__lable-two">
						1+1=3
					</p>
				</div>
				<div class="card-arrivels__middle">
					<h4 class="card-arrivels__title4">
						Корпоративное право
					</h4>
					<p class="card-arrivels__descr">
						Инвестирование: способы, риски, субъекты : монография
					</p>
					<p class="card-arrivels__author">
						Майфат А.В.
					</p>
					<p class="card-arrivels__price">
						4 450 ₽
					</p>
					<div class="card-arrivels__ratings">
						<p class="card-arrivels__stars">
							{% include '@assets/svg/Star-2.svg' %}
							4.9
						</p>
						<p class="card-arrivels__recomends">
							{% include '@assets/svg/like.svg' %}
							89% рекомендуют
						</p>

					</div>
				</div>

				<div class="card-arrivels__bottom">
					{% include '@blocks/g-btn-shopcart/g-btn-shopcart.twig' %}
					{% include '@blocks/g-btn-defer/g-btn-defer.twig' %}
				</div>
			</div>
		</div>

		<div class="card-arrivels">
			<div class="card-arrivels__content">
				<div class="card-arrivels__image">
					<img src="./img/maleev.jpg" alt="витя малеев в школе">

					<p class="card-arrivels__lable-one hidden-staff">
						Бестселлер
					</p>
					<p class="card-arrivels__lable-two hidden-staff">
						1+1=3
					</p>
					<p class="card-arrivels__lable-three">
						Новинка
					</p>
				</div>
				<div class="card-arrivels__middle">
					<h4 class="card-arrivels__title4">
						Договорное право
					</h4>
					<p class="card-arrivels__descr">
						Договор коммерческой концессии (франчайзинг). Граж...
					</p>
					<p class="card-arrivels__author">
						Багдасарян А.Ф.
					</p>
					<p class="card-arrivels__price">
						372 ₽
					</p>
					<div class="card-arrivels__ratings">
						<p class="card-arrivels__stars">
							{% include '@assets/svg/Star-2.svg' %}
							4.9
						</p>
						<p class="card-arrivels__recomends">
							{% include '@assets/svg/like.svg' %}
							89% рекомендуют
						</p>

					</div>
				</div>

				<div class="card-arrivels__bottom">
					{% include '@blocks/g-btn-shopcart/g-btn-shopcart.twig' %}
					{% include '@blocks/g-btn-defer/g-btn-defer.twig' %}
				</div>
			</div>
		</div>

		<div class="card-arrivels">
			<div class="card-arrivels__content">
				<div class="card-arrivels__image">
					<img src="./img/bejin-field.jpg" alt="бежин луг">

					<p class="card-arrivels__lable-one hidden-staff">
						Бестселлер
					</p>
					<p class="card-arrivels__lable-two hidden-staff">
						1+1=3
					</p>
				</div>
				<div class="card-arrivels__middle">
					<h4 class="card-arrivels__title4">
						Конкурентное право
					</h4>
					<p class="card-arrivels__descr">
						Договор коммерческой концессии (франчайзинг). Граж...
					</p>
					<p class="card-arrivels__author">
						Башлаков-Николаев И.В.
					</p>

					<div class="card-arrivels__price-discount">
						<p class="card-arrivels__price card-arrivels__price--decor">
							984&nbsp;₽
						</p>
						<p class="card-arrivels__price-old">
							1&nbsp;284&nbsp;₽
							{% include '@assets/svg/red-line.svg' %}
							{# <span class="card-arrivels__crossed-price"></span> #}
						</p>
						<p class="card-arrivels__profit">
							Выгода&nbsp;300&nbsp;₽
						</p>

					</div>

					<div class="card-arrivels__ratings">
						<p class="card-arrivels__stars">
							{% include '@assets/svg/Star-2.svg' %}
							4.9
						</p>
						<p class="card-arrivels__recomends">
							{% include '@assets/svg/like.svg' %}
							89% рекомендуют
						</p>

					</div>
				</div>

				<div class="card-arrivels__bottom">
					{% include '@blocks/g-btn-shopcart/g-btn-shopcart.twig' %}
					{% include '@blocks/g-btn-defer/g-btn-defer.twig' %}
				</div>
			</div>
		</div>

		<div class="card-arrivels">
			<div class="card-arrivels__content">
				<div class="card-arrivels__image">
					<img src="./img/north-south.jpg" alt="с севера на юг">

					<p class="card-arrivels__lable-one">
						Бестселлер
					</p>
					<p class="card-arrivels__lable-two">
						1+1=3
					</p>
				</div>
				<div class="card-arrivels__middle">
					<h4 class="card-arrivels__title4">
						Корпоративное право
					</h4>
					<p class="card-arrivels__descr">
						Инвестирование: способы, риски, субъекты : монография
					</p>
					<p class="card-arrivels__author">
						Майфат А.В.
					</p>
					<p class="card-arrivels__price">
						4 450 ₽
					</p>
					<div class="card-arrivels__ratings">
						<p class="card-arrivels__stars">
							{% include '@assets/svg/Star-2.svg' %}
							4.9
						</p>
						<p class="card-arrivels__recomends">
							{% include '@assets/svg/like.svg' %}
							89% рекомендуют
						</p>

					</div>
				</div>

				<div class="card-arrivels__bottom">
					{% include '@blocks/g-btn-shopcart/g-btn-shopcart.twig' %}
					{% include '@blocks/g-btn-defer/g-btn-defer.twig' %}
				</div>
			</div>
		</div>

	</div>

	<div class="g-arrivels__bottom">
		<button class="g-arrivels__btn-bottom">
			Показать все книги раздела
		</button>
		<button class="g-arrivels__btn-bottom-tablet">
			Показать все книги
		</button>
	</div>

</div>
