<div class="g-trading-conditions">

	<div class="g-trading-conditions__card">
		<div class="g-trading-conditions__image">
			<img src="./img/trade-clock.png" alt="часы">
		</div>
		<div class="g-trading-conditions__text">
			<h3 class="g-trading-conditions__title3">
				Быстрая доставка
			</h3>
			<p class="g-trading-conditions__descr">
				Доставим бесплатно от&nbsp;2000&nbsp;₽ по&nbsp;всей России
			</p>
		</div>
	</div>

	<div class="g-trading-conditions__card">
		<div class="g-trading-conditions__image">
			<img src="./img/trade-card.png" alt="банковская карта">
		</div>
		<div class="g-trading-conditions__text">
			<h3 class="g-trading-conditions__title3">
				Безопасная оплата
			</h3>
			<p class="g-trading-conditions__descr">
				Плати безопасно и&nbsp;легко онлайн на&nbsp;нашем сайте.
			</p>
		</div>
	</div>

	<div class="g-trading-conditions__card">
		<div class="g-trading-conditions__image">
			<img src="./img/trade-star.png" alt="звезда">
		</div>
		<div class="g-trading-conditions__text">
			<h3 class="g-trading-conditions__title3">
				Бонусная программа
			</h3>
			<p class="g-trading-conditions__descr">
				Дополнительная скидка 15% при регистрации
			</p>
		</div>
	</div>

	<div class="g-trading-conditions__card">
		<div class="g-trading-conditions__image">
			<img src="./img/trade-bag.png" alt="сумка">
		</div>
		<div class="g-trading-conditions__text">
			<h3 class="g-trading-conditions__title3">
				Большой выбор
			</h3>
			<p class="g-trading-conditions__descr">
				Ежегодно выходит в&nbsp;свет более 100 книг
			</p>
		</div>
	</div>


</div>
