<article class="g-article-daybook">
					
						<div class="g-article-daybook__wrapper-top">
						<h3 class="g-article-daybook__title3">Книга дня</h3>
						<div class="g-article-daybook__time-counter">08:56:31</div>
					</div>

					<img src="./img/oleg-roy.png" alt="книга три ступени вверх" class="g-article-daybook__image" width="167">
					<h4 class="g-article-daybook__title4">
						Корпоративное право
					</h4>
					<p class="g-article-daybook__descr">
						<strong>
							Инвестирование: способы, риски, субъекты : монография
						</strong>
					</p>
					<p class="g-article-daybook__author">
						Майфат А.В.
					</p>
					<p class="g-article-daybook__price">
						4&nbsp;450&nbsp;₽
					</p>
					<div class="g-article-daybook__wrapper-bottom">
						
							{% include "@blocks/g-btn-shopcart/g-btn-shopcart.twig" %}
							
							{% include "@blocks/g-btn-defer/g-btn-defer.twig" %}
					
					</div>
					
				</article>