{% extends "@layouts/layout.twig" %}

{% block page %}
	<div class="container">
		<main>
			<section class="hero">
				
					<div class="slider">
						<img src="./img/slider-temp.png" alt="" class="slider-temp">
					</div>
					
						{% include '@blocks/g-article-daybook/g-article-daybook.twig' %}
					
					<article class="hero__article hero__article--decor2">
						<div class="delivery">
							<p class="delivery__description">
								<span class="delivery__text-decor">
								Бесплатно
									{% include '@assets/svg/curve-orange.svg' %}
								</span> доставим ваш заказ при покупке от&nbsp;2000&nbsp;₽
								

							</p>
							<div class="delivery__img-wrapper">
								{% include '@assets/svg/delivery.svg' %}
							</div>
						</div>
					</article>
					<article class="hero__article hero__article--decor3">
						<div class="discounts">
							<p class="discounts__description">
								Скидка при регистрации 
								<span class="discounts__text-decor">
								до&nbsp;15%
								{% include '@assets/svg/curve-green.svg' %}
								</span>
															
							</p>
							<div class="discounts__img-wrapper">
								{% include '@assets/svg/discounts.svg' %}
							</div>

						</div>
					</article>	
				
			</section>

		</main>

	</div>
	{#
					Пример подключения файла
					{% include '@blocks/component/component.twig' %}
					Пример подключения svg
					{% include '@assets/svg/component.svg' %}
					<img src="./img/logo.png" alt="Logo" width="57px">
				#}
{% endblock %}
