
.hero 
{
	display: grid;
	grid-template-areas: 
	'a a a a a a b b b'
	'c c c d d d b b b'
	;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 25.7vw auto;
	row-gap: 2.2vw;
	column-gap: 2.2vw;	

	margin-bottom: 27px;

	@include mq(769px, 1024px)
	{
		grid-template-rows: 28vw auto;
		
	}

	@include mq(376px, 768px)
	{
		grid-template-areas: 
		'a a a a a a a a a'
		'c c c c c c b b b'
		'd d d d d d b b b'
		;
		grid-template-rows: auto auto auto;
		
	}
	@include mq(0, 376px)
	{
		grid-template-areas: 
		'a'
		'b'
		'c'
		'd'
		;
		grid-template-columns: 1f;
		grid-template-rows: auto auto auto auto;
		row-gap: 4vw;
		margin-bottom: 8px;
		
	}
	
}  

.slider
{
	grid-area: a;
	width: 55vw;
	& .slider-temp {
		width: 100%;
		
		
	}

	@include mq(768px, 1024px)
	{
		width: 60.8vw;		
	}

	@include mq(376px, 768px)
	{
		width: 100%;
	}

	@include mq(0, 376px)
	{
		width: 100%;
		
	}
}

.hero__article
{
	width: 26.4vw;
	padding: 20px;
	border-radius: 5px;
	background-color: $base-first;

	@include mq(768px, 1024px)
	{
		width: 29.2vw;
	}

	@include mq(376px, 768px)
	{
		width: 100%;
	}

	@include mq(0, 376px)
	{
		width: 100%;;
	}
}

// =============== Daybook article ================

.hero__article--decor1 {
	grid-area: b;

	@include mq(376px, 768px)
	{
		flex-wrap: nowrap;
		width: 46.2vw;
	}

	@include mq(0, 376px)
	{
		width: 94.6vw;
	}
}

.daybook__wrapper-top 
{
	display: flex;
	justify-content: space-between;

	@include mq(376px, 768px)
	{
		flex-wrap: wrap;
	}

	@include mq(0, 376px)
	{
		margin-bottom: 19px;
	}

	& .daybook__title3
	{
		margin-bottom: 1.8vw;
		color: #1C294D;
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px; 
	}
	
	& .daybook__time-counter
	{
		width: 68px;
		height: 25px;
		flex-shrink: 0;
		padding-top: 5px;
		border-radius: 5px;
		background: rgba(255, 122, 0, 0.15);
		color: #FF7A00;
		text-align: center;
		font-family: Roboto;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 15px; 
	}	
	
}

.daybook__image {
	display: block;
	width: 12.22vw;
	margin: 0 auto;
	margin-bottom: 1.2vw;

	@include mq(376px, 768px)
	{
		width: 22vw;
	}

	@include mq(0, 376px)
	{
		width: 35.2vw;
		margin-bottom: 16px;
	}
}

.daybook__title4 
{
	margin-bottom: 6px;
	color: rgba(28, 41, 77, 0.50);
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px; 
	letter-spacing: .6px;
}

.daybook__descr 
{
	margin-bottom: 9px;
	color: #1C294D;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px; 
	
}

.daybook__author
{
	margin-bottom: 8px;
	color: #1C294D;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px; 
	
}

.daybook__price 
{
	margin-bottom: 11px;
	color: #1C294D;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; 
	
}

.daybook__wrapper-bottom 
{
	display: flex;
	align-items: center;

	@include mq(376px, 768px)
	{
		flex-wrap: wrap;
	}
	& .g-btn-shopcart{
		@include mq(0, 376px)
		{
			width: 71vw;
		}
		
	}
	
}

// ================= Delivery =============
.hero__article--decor2
{
	grid-area: c;
	padding: 19px 25px 14px 25px;
	background: #6D378F;
	@include mq(0, 376px)
		{
			padding: 15px 20px 14px 20px;
		}
}


.delivery 
{
	display: flex;	
	align-items: center;

	@include mq(768px, 1024px)
	{
		flex-wrap: wrap;
	}

	@include mq(376px, 768px)
	{
		flex-wrap: wrap;
	}
}

.delivery__description
{
	color: $base-first;
	font-family: Gosha Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; 
}
.delivery__text-decor 
{
	position: relative;
	z-index: 0;
	

	& svg
	{
		position: absolute;		
		left: -12px;
		top: -2px;
		z-index: -1;
	}
}
// =============== Discounts ===============
.hero__article--decor3
{
	grid-area: d;
	background: #FFD8EF;
	padding: 20px 25px 14px 25px;

	@include mq(0, 376px)
		{
			padding: 15px 20px 14px 20px;
		}
	
}

.discounts
{
	display: flex;	
	align-items: center;

	@include mq(768px, 1024px)
	{
		flex-wrap: wrap;
	}

	@include mq(376px, 768px)
	{
		flex-wrap: wrap;
	}
}

.discounts__description
{
	color: rgba(28, 41, 77, 0.80);
	font-family: Gosha Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; 
}
.discounts__text-decor 
{
	position: relative;
	z-index: 0;
	

	& svg
	{
		position: absolute;		
		right: -12px;
		top: -2px;
		z-index: -1;
	}
}

// ============== Section subscribe =================

.subscribe
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	// width: 83.5vw;
	
	margin-top: 0;
	padding: 2.4vw 3.3vw 2.2vw 3.3vw;
	border-radius: 5px;
	background: #0288D1;

	@include mq(376px, 767px)
	{
		justify-content: center;
		flex-wrap: wrap;
	}

	@include mq(0, 375px)
	{
		
		flex-wrap: wrap;
		padding: 19px 10px 20px 10px;
	}
}

.subscribe__text
{
	color: $base-first;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;

	@include mq(0, 767px)
	{
		margin-bottom: 10px;
	}

	@include mq(0, 375px)
	{
		margin-bottom: 11px;
		line-height: 24px;
	}
}

.subscribe__discount 
{
	position: relative;
	z-index: 0;

	& svg 
	{
		position: absolute;
		top: -3px;
		left: 56px;
		z-index: -1;
	}
}

.subscribe__form
{
	display: flex;
	justify-content: space-between;
	min-height: 40px;
	// width: 565px;	
	width: 53.8%;
	min-width: 400px;

	border-radius: 5px;
	overflow: hidden;

	@include mq(376px, 767px)
	{
		width: 72%;
		min-width: 340px;
	}

	@include mq(0, 375px)
	{	
		width: 95vw;
		min-width: 300px;
		min-height: 90px;
		flex-wrap: wrap;
	}
}

.subscribe__form-input
{
	// width: 418px;
	width: 74%;
	min-width: 280px;
	border-radius: 5px;
	border: 2px solid $base-first;
	padding: 0 13px;
	margin-right: 10px;

	color: rgba(28, 41, 77, 0.50);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;

	@include mq(376px, 767px)
	{
		min-width: 200px;
	}

	@include mq(0, 375px)
	{
		height: 40px;
		min-width: 300px;
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}
}

.subsribe__form-btn
{
	// width: 137px;
	width: 24.2%;
	min-width: 100px;
	border: 2px solid $base-first;
	border-radius: 5px;
	padding: 0 5px;
	color: $base-first;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; 

	@include mq(0, 375px)
	{
		height: 40px;
		width: 100%;
	}
}




