{% extends "@layouts/layout.twig" %}

{% block page %}
	<div class="container">
		<main>
			<section class="hero">
				<div class="hero__desktop">
					<div class="slider">
					<img src="./img/slider-temp.png" alt="" class="slider-temp">
				</div>
				<div class="hero__desktop-hidden">
					{% include '@blocks/g-article-daybook/g-article-daybook.twig' %}
				</div>
				<article class="hero__article hero__article--decor2">
					<div class="delivery">
						
						<p class="delivery__description">
							Бесплатно доставим ваш заказ при покупке от&nbsp;2000&nbsp;₽
							<span class="delivery__curve">
							{% include '@assets/svg/curve-orange.svg' %}
							</span>
							
						</p>

						{% include '@assets/svg/delivery.svg' %}
				
					</div>
				</article>
				<article class="hero__article hero__article--decor3">
					<div class="discounts">
						<p class="discounts__descr">
							Скидка при регистрации до&nbsp;15%
						</p>
					</div>
				</article>
				</div>

				{% include '@blocks/g-article-daybook/g-article-daybook.twig' %}
				
			</section>

		</main>

	</div>
	{#
				Пример подключения файла
				{% include '@blocks/component/component.twig' %}
				Пример подключения svg
				{% include '@assets/svg/component.svg' %}
				<img src="./img/logo.png" alt="Logo" width="57px">
			#}
{% endblock %}
