{% extends "@layouts/layout.twig" %}

{% block page %}
	<div class="container">
		<main>
			<section class="section hero">

				<div class="slider">
					{% include '@blocks/g-slider/g-slider.twig' %}
				</div>

				<div class="hero__card hero__card--decor1">
					<div class="daybook">
						<div class="daybook__wrapper-top">
							<h3 class="daybook__title3">Книга дня</h3>
							<div class="daybook__time-counter">08:56:31
							</div>
						</div>
						<img src="./img/oleg-roy.png" alt="книга три ступени вверх" class="daybook__image">
						<h4 class="daybook__title4">
							Корпоративное право
						</h4>
						<p class="daybook__descr">
							<strong>
								Инвестирование: способы, риски, субъекты : монография
							</strong>
						</p>
						<p class="daybook__author">
							Майфат А.В.
						</p>
						<p class="daybook__price">
							4&nbsp;450&nbsp;₽
						</p>
						<div class="daybook__wrapper-bottom">

							{% include "@blocks/g-btn-shopcart/g-btn-shopcart.twig" %}

							{% include "@blocks/g-btn-defer/g-btn-defer.twig" %}

						</div>
					</div>
				</div>

				<div class="hero__card hero__card--decor2">
					<div class="delivery">
						<p class="delivery__description">
							<span class="delivery__text-decor">
								Бесплатно
								{% include '@assets/svg/curve-orange.svg' %}
							</span>
							доставим ваш заказ при покупке от&nbsp;2000&nbsp;₽


						</p>
						<div class="delivery__img-wrapper">
							{% include '@assets/svg/delivery.svg' %}
						</div>
					</div>
				</div>
				<div class="hero__card hero__card--decor3">
					<div class="discounts">
						<p class="discounts__description">
							Скидка при регистрации
							<span class="discounts__text-decor">
								до&nbsp;15%
								{% include '@assets/svg/curve-green.svg' %}
							</span>

						</p>
						<div class="discounts__img-wrapper">
							{% include '@assets/svg/discounts.svg' %}
						</div>

					</div>
				</div>

			</section>

			<section class='section arrivels'>
				{% include '@blocks/g-arrivels/g-arrivels.twig' with { 'title' : 'Новые поступления'} %}
			</section>

			<section class="section subscribe">
				<p class="subscribe__text">
					<span class="subscribe__discount">
						Скидка&nbsp;200&nbsp;₽&nbsp;при
						{% include '@assets/svg/subscribe-discount.svg' %}
					</span>
					подписке на&nbsp;рассылку Издательства
				</p>

				<form action="" class="subscribe__form">
					<input type="text" class="subscribe__form-input" placeholder='Введите ваш Email'>
					<button class="subsribe__form-btn">
						Подписаться
					</button>
				</form>
			</section>
			<section class='section releases'>
				{% include '@blocks/g-arrivels/g-arrivels.twig' with {'title' : 'Готовятся к выходу'} %}
			</section>

			<section class="section trading-conditions">
				{% include '@blocks/g-trading-conditions/g-trading-conditions.twig' %}
			</section>

			<section class="section news">
				{% include '@blocks/g-news/g-news.twig' %}
			</section>

		</main>

	</div>
	{#
						Пример подключения файла
						{% include '@blocks/component/component.twig' %}
						Пример подключения svg
						{% include '@assets/svg/component.svg' %}
						<img src="./img/logo.png" alt="Logo" width="57px">
					#}
{% endblock %}
