/* .site-content {
	
} */
.section
{
	// margin-bottom: 30px;
	margin-bottom: 2.2vw;
	&:not(:last-child){
		@include mq(0, 375px)
	{
		margin-bottom: 10px;
	}

	}
	
}
.news
{
	@include mq(0, 375px)
	{
		margin-bottom: 10;
	}
}