<div class="g-btn-arrows">
	<button class="g-btn-arrows__prev">
		{% include '@assets/svg/chevron-left.svg' %}
		
	</button>
	<button class="g-btn-arrows__next">
		
		{% include '@assets/svg/chevron-right.svg' %}
	</button>

</div>
